<%require "date"%>

<%today = Date.today%>


<div>
<%=notice%>
</div>


<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>
  <dt>Followers</dt>
  <dd><%= FollowRequest.where(:recipient_id => @user.id).where(:status => "accepted").count %></dd>
<%if @user.id != @current_user.id%>
  <%followinfo = FollowRequest.where({:sender_id => @current_user.id})%>
  <%relatedfollowinfo = followinfo.where(:recipient_id => @user.id).at(0)%>
  <%if relatedfollowinfo == nil%>
 
  <td>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%=@user.id%>">

              <button>
                Follow
              </button>
            </form>
      </td>

<%elsif relatedfollowinfo.status == "pending"%>

    <td>
    Request sent 
      <a href="//delete_follow_request/<%= relatedfollowinfo.id %>">Cancel</a>
    </td>
<%else%>

    <td>
      <a href="//delete_follow_request/<%= relatedfollowinfo.id %>">Unfollow</a>
    </td>
<%end%>

<%else%>
<%end%>


  


  <dt>Following</dt>
  <dd><%= FollowRequest.where(:sender_id => @user.id).where(:status => "accepted").count %></dd>



<% if session.fetch(:username) == @user.username %>


  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <button>Update user</button>
    </form>
  </dd>

<% end %>


</dl>


<h2>Feed (<%=@Likedphotos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    
    <th>
      Likes
    </th>


    <th></th>
  </tr>








<%@user.feed.each do |photo| %>

  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
    
        
      <% if today.year-photo.created_at.year>0%>
   

      <%= today.year-photo.created_at.year %> years ago
      <%elsif today.month - photo.created_at.month>0%>
      <%=today.month - photo.created_at.month %> months ago
      <%elsif today.day - photo.created_at.day>0%>
      <%=today.day - photo.created_at.day %> days ago
      <%elsif Time.now.strftime("%k").to_i - photo.created_at.strftime("%k").to_i>0%>
      <%=Time.now.strftime("%k").to_i - photo.created_at.strftime("%k").to_i %> hours ago
      <%elsif Time.now.strftime("%M").to_i - photo.created_at.strftime("%M").to_i>0%>
      <%=Time.now.strftime("%M").to_i - photo.created_at.strftime("%M").to_i %> minutes ago
      <%else%>
      Just now
      <%end%>
    </td>
    

        <td>
      <%= photo.likes.count %>
    </td>

    
    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>
