<h1>List of photos</h1>
<% if session.fetch(:user_id)==nil%>
<%else%>


<form action="/insert_photo_record" method="post" class="form-horizontal" enctype="multipart/form-data">
  <label for="browser_input">Image</label>
  <input id="browser_input" type="file" name="input_image" id="input_image" class="form-control">


  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo..."></textarea>

  <button>Add photo</button>


</form>
<%end%>



<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>

  <% if photo.poster.private == true%>
  <%else%>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.created_at %>
    </td>

    <td>
      <%= photo.likes.count %>
    </td>


    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <%end%>
  <% end %>
</table>
